
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 
        <img class="img-fluid w-25 p-3" src="https://thenounproject.com/api/private/icons/2404724/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkOKg99kHNRXFvWEqaiRkftHM6f5GPRmW6_lvMW3OAX7LeQCitbZpamIgCE3y9SOaTB-526diyMYtkN2VLbMfTFjFVUQ%3D%3D" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <li>
          <a class="nav-link" href="/">Sign-in</a>
        </li>
      </div>
    </div>
  </nav>
