<% layout('layouts/boilerplate')%> 
    <h1>Welcome to Animordle-GPT</h1>

    <p>
        Instructions: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque maiores qui iste omnis! Aperiam natus blanditiis itaque, doloribus id veniam laboriosam molestias ad, quaerat ratione nihil eos alias beatae fugiat!
    </p>

    <main>

<h3> module will be below ________ </h3>

    </main>
         